.bg-icon3,
.image-103-icon3 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
  z-index: 0;
}
.image-103-icon3 {
  z-index: 1;
}
.soti1111-scene-of-an-ancient-g-icon7 {
  width: 986px;
  height: 1176px;
  max-width: 100%;
  z-index: 2;
}
.referral-child,
.soti1111-scene-of-an-ancient-g-icon7,
.title-scroll-icon11 {
  position: relative;
  object-fit: cover;
  display: none;
}
.referral-child {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 3;
}
.title-scroll-icon11 {
  height: 80px;
  width: 320px;
}
.referral13 {
  text-decoration: none;
  flex: 1;
  position: relative;
  color: inherit;
  text-shadow: 0.2px 0 0#492b00, 0 0.2px 0#492b00, -0.2px 0 0#492b00,
    0-0.2px 0#492b00;
  z-index: 4;
}
.referral-inner,
.title-scroll-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.title-scroll-parent5 {
  flex: 1;
  padding: var(--padding-8xl) 103px var(--padding-5xl) var(--padding-85xl);
  background-image: url(./public/title-scroll@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 3;
}
.referral-inner {
  align-self: stretch;
  padding: 0 var(--padding-71xl);
}
.panel3-1-icon2 {
  height: 788.6px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.coin-icon26,
.panel3-1-group {
  margin: 0 !important;
  position: absolute;
}
.coin-icon26 {
  height: 28px;
  width: 28px;
  right: 117px;
  bottom: 131.6px;
  object-fit: cover;
  z-index: 5;
}
.panel3-1-group {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  height: 100%;
}
.invite-friends {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.points-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 96px 0 97px;
}
.referrals,
.your-referrals {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.your-referrals {
  font-size: inherit;
}
.referrals {
  font-size: var(--font-size-21xl);
  color: var(--color-saddlebrown-100);
}
.points-container-parent,
.your-referrals-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-referrals-parent {
  gap: var(--gap-3xl);
  font-size: var(--font-size-9xl);
  font-family: var(--font-xtra);
}
.points-container-parent {
  gap: 31px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-saddlebrown-300);
  font-family: var(--font-greek-freak);
}
.your-referral-link {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.your-referral-link-to-share-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.httpstmeodysseyoffate-123 {
  position: relative;
}
.coin-amount-wrapper,
.coin-amount1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.coin-amount1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-saddlebrown-500);
  overflow: hidden;
  padding: var(--padding-mini) var(--padding-15xl) var(--padding-mini)
    var(--padding-16xl);
  z-index: 1;
}
.coin-amount-wrapper {
  align-self: stretch;
  padding: 0 var(--padding-5xs);
}
.button-icon15 {
  height: 55px;
  width: 200px;
  position: relative;
  object-fit: cover;
  display: none;
}
.copy-link {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-greek-freak);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-27xl) var(--padding-base) 47px;
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(./public/button2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.button-icon16 {
  height: 86.3px;
  width: 200px;
  position: relative;
  object-fit: cover;
  display: none;
}
.share {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-greek-freak);
  color: var(--color-white);
  text-align: center;
  z-index: 3;
}
.button-parent3,
.copy-link-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-parent3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-14xl) var(--padding-34xl) var(--padding-11xl-3)
    var(--padding-35xl);
  background-color: transparent;
  align-self: stretch;
  flex-direction: row;
  background-image: url(./public/button@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
  margin-top: -11px;
}
.copy-link-button-wrapper {
  flex: 1;
  flex-direction: column;
}
.empty-container {
  width: 254px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xl);
  box-sizing: border-box;
}
.invite-your-friends {
  height: 20px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}
.buttons-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl) 0 0;
}
.for-each-referral {
  width: 244px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.invite-your-friends1 {
  flex: 1;
  position: relative;
  text-transform: uppercase;
  z-index: 3;
}
.invite-your-friends-and-earn-x-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs) 0 0;
  margin-top: -21px;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-gemfont-one);
}
.invite-referrals-container {
  width: 258px;
}
.earnings-container,
.empty-container-parent,
.invite-referrals-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.earnings-container {
  align-self: stretch;
  gap: var(--gap-3xs);
}
.empty-container-parent {
  flex: 1;
  gap: 37.7px;
  min-width: 208px;
  flex-shrink: 0;
}
.div13 {
  width: 44.8px;
  position: relative;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 5;
}
.coin-amount-container {
  height: 75.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-9xl);
  font-family: var(--font-gemfont-one);
}
.frame-parent29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 6.3px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-saddlebrown-300);
  font-family: var(--font-xtra);
}
.frame-parent28 {
  align-items: flex-start;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-gemfont-one);
}
.frame-parent28,
.group-main,
.referrals-title-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.referrals-title-container {
  align-items: flex-start;
  gap: 40px;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-saddlebrown-300);
  font-family: var(--font-xtra);
}
.group-main {
  align-items: flex-end;
  padding: var(--padding-64xl) var(--padding-44xl) 80.6px var(--padding-43xl);
  box-sizing: border-box;
  position: relative;
  gap: 57px;
  z-index: 4;
}
.soti1111-scene-of-an-ancient-g-icon8 {
  position: absolute;
  top: -36px;
  left: -193px;
  width: 887px;
  height: 1055px;
  object-fit: cover;
}
.frame-child24 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, transparent, #000);
  width: 100%;
  height: 100%;
  display: none;
}
.leaderboard14,
.quests13,
.referral14 {
  position: absolute;
  top: 27px;
  left: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69px;
  height: 20px;
  min-width: 69px;
  z-index: 4;
}
.leaderboard14,
.quests13 {
  left: 220px;
  width: 61px;
  min-width: 61px;
  z-index: 6;
}
.leaderboard14 {
  left: 325px;
  width: 119px;
  min-width: 119px;
  z-index: 4;
}
.leaderboard-menu {
  position: absolute;
  top: 253px;
  left: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  z-index: 3;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-gemfont-one);
}
.quest-icom-icon12,
.shop-icon12,
.trophy-icon12 {
  position: absolute;
  top: 220px;
  left: 84px;
  width: 64px;
  height: 64px;
  object-fit: cover;
  z-index: 5;
}
.quest-icom-icon12,
.trophy-icon12 {
  left: 218px;
}
.trophy-icon12 {
  left: 352px;
  width: 64.6px;
}
.rectangle-parent7 {
  position: absolute;
  top: 677px;
  left: 0;
  background: linear-gradient(180deg, transparent, #000);
  width: 100%;
  height: 323px;
  z-index: 1;
}
.frame-child25,
.frame-child26 {
  position: absolute;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5));
  width: 500px;
  height: 323px;
}
.frame-child25 {
  border: 0;
  background-color: transparent;
  outline: 0;
  top: 677px;
  left: 0;
}
.frame-child26 {
  top: 323px;
  left: 500px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.rectangle-parent8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.back-button-icon12,
.settings-button-icon12 {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 72px;
  height: 72px;
  overflow: hidden;
  object-fit: cover;
  z-index: 3;
}
.settings-button-icon12 {
  left: 418px;
}
.navigation-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.referral12 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 94.4px;
  box-sizing: border-box;
  gap: var(--gap-2xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-saddlebrown-300);
  font-family: var(--font-greek-freak);
}
@media screen and (max-width: 450px) {
  .points-container,
  .referral-inner,
  .title-scroll-parent5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .your-referrals {
    font-size: var(--font-size-3xl);
  }
  .points-container-parent {
    gap: var(--gap-mini);
  }
  .your-referral-link {
    font-size: var(--font-size-3xl);
  }
  .httpstmeodysseyoffate-123 {
    font-size: var(--font-size-base);
  }
  .share {
    font-size: var(--font-size-lgi);
  }
  .for-each-referral,
  .invite-your-friends {
    font-size: var(--font-size-xl);
  }
  .empty-container-parent {
    gap: var(--gap-lgi);
  }
  .div13 {
    font-size: var(--font-size-3xl);
    line-height: 17px;
  }
  .frame-parent29 {
    flex-wrap: wrap;
  }
  .referrals-title-container {
    gap: var(--gap-xl);
  }
  .group-main {
    gap: 28px;
    padding: var(--padding-16xl) var(--padding-xl) var(--padding-15xl);
    box-sizing: border-box;
  }
  .leaderboard14,
  .quests13,
  .referral14 {
    font-size: var(--font-size-base);
  }
}
